@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Orbitron:wght@500&display=swap');

.container {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  background-color: #212121;
  color : white;
  font-family: 'Lora', serif;
}

.button {
  margin : 1%;

}

.button img {
  border-radius: 55px;
  /* border : solid white 0.1px; */
  object-fit: cover;
  width: 300px;
  height: 150px;
}